.root-container {
    /* background-color: #282c34; */
    /* min-height: 50vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* font-size: calc(10px + 2vmin); */
    /* color: white; */
    /* use instead of margin so that background color stays */
    padding: 1rem;
    /* when scrolling by scrollintoview, will have offset for navbar */
    /* scroll-margin-top: 160px; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* scroll-margin-top: 68px; */
}

.circle-image {
    border-radius: 100%;
}

.card {
    margin: 2rem;
    padding: 0.5rem;
}


.title-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    margin-right: 1rem;
}

.date {
    margin-left: auto;
    display: flex;
}

.row {
    display: flex;
}

.center-row {
    display: flex;
    align-items: center;
}

.center-center-row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.column {
    display: flex;
    flex-direction: column;
}

.tag {
    /* background-color: var(--mui-palette-primary-main); */
    border-radius: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.tag-in-list {
    margin-right: 1rem;
}

.card-description {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.skill-card {
    margin: 1rem;
}

.award-card {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skill {
    border-radius: 2rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    align-items: center;
}

.skill-in-list {
    margin-right: 1rem;
}
